body{
  font-family: "Montserrat";
}

h1,h2,h3{
  font-size: "Montserrat-Bold";
  font-size:3rem;
  line-height: 1.5;
}

/* Navbar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: "Montserrat-Light";
}

/* Heading  */

/* Title section */

#title{
  background-color:#276678;
}

.title-row{
  position:relative;

}

.title-header{
  font-family: "Montserrat";
  text-align: left;
  font-size:3rem;
  line-height: 1.5;
}

.title-paragraph{
  font-family: "Montserrat";
  text-align: left;
  font-size:1.5rem;
  line-height: 1.5;
}

#title .container-fluid{
  padding:3% 15% 7%;
}

.container-fluid{
  padding:3% 15% 7%;
}

.title-image {
  width: 20%;
  right: 1%;
  text-align: center;
  padding: auto;

}

.download-button{
  margin: 5% 3% 5% 0;
}



/* Features */

#features{
  padding:2% 15%;
  background-color:#f6f5f5;
}

/* About me */

.aboutme{
  text-align: center;
  font-size: 2em;
}

.aboutme-msg{
  color: #8f8f8f;
}



.features-box{
  text-align: center;
  padding: 3.5%;
}

.features-icon{
  font-size: 3em;
  color: #d3e0ea;
  padding-left :auto;
  padding-right: auto;
}

.features-icon:hover{
  color: #276678;
}

.features-header{
  font-family: "Montserrat-Bold";
  font-size:1.5rem;
}

.features-para{
  font-family: "Montserrat-Light";
  color: #8f8f8f;
}

/* Testimonials Section */

#testimonials{
  text-align: center;
  background-color: #1687a7;
  color: #fff;
}

.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Press */

#press{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img{
  width:15%;
  margin:0 20px;
}

/* Pricing */

#pricing{
  text-align: center;
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

/* Contact me */

#cta{
  text-align: center;
  background-color: #f6f5f5;

}

.cta-msg-header{
  font-family: "Montserrat-Light";
  padding-top: 5%;
}

.cta-msg-sub-header{
  font-family: "Montserrat-Bold";
  font-size:1.2rem;
  line-height: 1;
}

.cta-msg{
  font-family: "Montserrat-Light";
  padding: 2% 35% 2%;
  color: #8f8f8f;

}

.cta-button{
  margin: auto;
}

/* Footer */

#footer{
  background-color: #f6f5f5;
  text-align: center;
}

.footer-icons{
  padding-top: 5%
}

.ft-ico{
  margin: 10px;
}

.footer-msg{
  padding-top: 2%;
  padding-bottom: 3%;
  color: grey;
}

/* Section for modifications in mobile view */

@media (max-width:1000px) {

  .title-image {
    position:static;
    transform: rotate(0);
    align-items: center;

  }

  #title{
    text-align: center;
  }

  .cta-msg{
    padding-left:10%;
    padding-right: 10%;

  }

}
